.pageWrapper {
  background-color: #ffffff;
  min-height: 100vh;
}

.mainContainer {
  padding: 70px 45px;
  box-sizing: border-box; 

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 반응형 코드 추가 */
@media (max-width: 768px) {
  .mainContainer {
    padding: 60px 20px;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    padding: 50px 15px;
  }
}