.loadingWrapper {
  background-color: #f5f5f5;
}

.loadingMessage {
  margin-top: 80px;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #141414;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pageWrapper {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding-top: 70px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 120px;
  box-sizing: border-box;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 반응형 코드 추가 */

@media (max-width: 1440px) {
  .container {
    padding: 40px 60px;
  }
}

/* 태블릿 (900px 이하)*/
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 30px 40px;
  }

  .leftColumn,
  .rightColumn {
    flex: none;
    width: 100%;
  }
}

/* 모바일 (480px 이하) */
@media (max-width: 480px) {
  .container {
    padding: 20px 15px;
    gap: 15px;
  }

  .leftColumn,
  .rightColumn {
    gap: 15px;
  }

  .loadingMessage {
    margin-top: 70px;
    padding: 30px;
  }
}
