.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBox {
  background-color: #fff;
  border-radius: 7px;
  width: 310px;
  padding: 20px 25px 15px 25px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0 15px 0;
}

.message {
  font-size: 15px;
  color: #141414;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.divider {
  border: none;
  border-top: 1px solid #E0E0E0;
  margin-bottom: 15px;
}

.closeButton {
  font-size: 16px;
  font-weight: 600;
  color: #678D77;
  background: none;
  border: none;
  cursor: pointer;
}

/* 반응형 코드 추가 */

@media (max-width: 400px) {
  .modalBox {
    width: 90%;
    max-width: 310px;
  }
}