html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

img,
svg {
  display: block;
}

body {
  font-family: "Pretendard", system-ui, -apple-system, "Segoe UI", Roboto,
    "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea::placeholder {
  font-family: "Pretendard";
  font-size: 13px;
  color: #a9a9a9;
}

.comment-textarea {
  font-family: "Pretendard";
  font-size: 13px;
  width: 100%;
  resize: none;
}

.comment-textarea:focus {
  outline: none;
  border: none;
}
