.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  cursor: pointer;
}

.poster {
  width: 126px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #141414;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}